body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    height: 25%;
    width: 100%;
    display: flex;

    flex-direction: row;
}

centr {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.right-center {
    height: 100%;
    width: 75%;
    display: flex;

    flex-direction: column;
    align-self: right;
}

.bottom-center {
    display: flex;

    flex-direction: row;
    align-self: flex-end;
    height: 90%;
    width: 100%;
}

footer {
    height: 25%;
    width: 100%;
    display: flex;

    flex-direction: row;
}

.columns {
    flex-direction: column;
}

.container {
    display: flex;
    /* border: 5px solid black; */
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* column-gap: 1em; */
}

.field {
    font-size: 1em;
    text-align: left;
    /* flex-direction: row; */
    /* height: 25%;
    width: 100%; */
}

#header {
    background-color: blue;
    text-align: right;
    height: 100%;
    width: 100%;
    /* order: -1; */
    align-self: flex-start;
}

#X {
    background-color: white;
    height: 5%;
    width: 25%;
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

#left {
    background-color: pink;
    height: 100%;
    width: 25%;
    /* order: -1; */
    align-self: left;
}

#nav {
    background-color: green;
    text-align: right;
    height: 10%;
    width: 100%;
    align-self: flex-start;
}

#center {
    background-color: white;
    height: 100%;
    width: 75%;
}

#right {
    background-color: pink;
    height: 100%;
    width: 25%;
}

#Y {
    background-color: white;
    height: 10%;
    width: 25%;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 75%;
}

#footer {
    background-color: blue;
    height: 100%;
    width: 100%;
    align-self: flex-end;
}